@font-face {
  font-family: "AVENIR";
  font-weight: 100;
  font-style: normal;
  src: url("../assets/fonts/avenir/light.ttf");
}

@font-face {
  font-family: "AVENIR";
  font-weight: 200;
  font-style: normal;
  src: url("../assets/fonts/avenir/light.ttf");
}

@font-face {
  font-family: "AVENIR";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/avenir/light.ttf");
}

@font-face {
  font-family: "AVENIR";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/avenir/book.ttf");
}

@font-face {
  font-family: "AVENIR";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/avenir/regular.ttf");
}

@font-face {
  font-family: "AVENIR";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/avenir/regular.ttf");
}

@font-face {
  font-family: "AVENIR";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/avenir/heavy.ttf");
}

@font-face {
  font-family: "AVENIR";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/avenir/heavy.ttf");
}

@font-face {
  font-family: "AVENIR";
  font-weight: 800;
  font-style: normal;
  src: url("../assets/fonts/avenir/black.ttf");
}

@font-face {
  font-family: "AVENIR";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/avenir/black.ttf");
}
