<h1 class="h1 mb-8">S'enregistrer</h1>
<form [formGroup]="registerFormGroup" (ngSubmit)="register()" novalidate class="flex flex-col gap-8">
<!--  <div class="flex flex-col gap-2">-->
<!--    <h5>Email</h5>-->
<!--    <input-->
<!--      type="text"-->
<!--      [status]="getEmailStatus"-->
<!--      nbInput-->
<!--      fullWidth-->
<!--      placeholder="email"-->
<!--      formControlName="email">-->
<!--    <div class="h-2">-->
<!--      <span *ngIf="getRequiredEmailError" class="text-red-500 text-sm italic ml-2 -mt-2">email is required</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="flex flex-col gap-2">-->
<!--    <h5>password</h5>-->
<!--    <input-->
<!--      type="password"-->
<!--      [status]="getPasswordStatus"-->
<!--      nbInput-->
<!--      fullWidth-->
<!--      placeholder="password"-->
<!--      formControlName="password">-->
<!--    <div class="h-2">-->
<!--      <span *ngIf="getRequiredPasswordError" class="text-red-500 text-sm italic ml-2 -mt-2">password is required</span>-->
<!--    </div>-->
<!--  </div>-->
  <button type="submit" nbButton status="primary">Login</button>
</form>
